{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block Title %}
        <title>Dig & Go - Оборудование</title>
    {% endblock Title %}
    {% block Styles %}
        {% if request.COOKIES.theme == 'dark' %}
            <link type="text/css" rel="stylesheet" href="{% static "css/equipment.css" %}">
        {% else %}
            <link type="text/css" rel="stylesheet" href="{% static "css/equipment-light.css" %}">
        {% endif %}
    {% endblock Styles %}
</head>
<body>
{% block Content %}
    <div class="inner-content">
        <div class="tech-block">
            <img class="tech-image" src={% static "images/1.jpg" %}>
            <div class="tech-description">
                <div class="tech-about">
                    <h1 class="tech-name">Экскаватор-Погрузчик MST 666-Plus</h1>
                    <h1 class="tech-text">
                        Это техника высокого качества и надежности, прекрасный выбор для вашего
                        бизнеса
                    </h1>
                </div>
                <div class="tech-specifications">
                    <div class="tech-specifications-item">Производитель : PERKINS</div>
                    <div class="tech-specifications-item">Модель : 1104D- 44TA (Tier-3)</div>
                    <div class="tech-specifications-item">Максимальная мощность двигателя : 74.5 кВт (101,3 л.с.)</div>
                    <div class="tech-specifications-item">Максимальный крутящий момент : 400 Нм при 1400 об/мин</div>
                    <div class="tech-specifications-item">Рабочий объем цилиндров : 4.4л</div>
                </div>
                <div class="tech-links">
                    <a class="tech-link">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="tech-block">
            <img class="tech-image" src={% static "images/1.jpg" %}>
            <div class="tech-description">
                <div class="tech-about">
                    <h1 class="tech-name">Экскаватор-Погрузчик MST 666-Plus</h1>
                    <h1 class="tech-text">
                        Это техника высокого качества и надежности, прекрасный выбор для вашего
                        бизнеса
                    </h1>
                </div>
                <div class="tech-specifications">
                    <div class="tech-specifications-item">Производитель : PERKINS</div>
                    <div class="tech-specifications-item">Модель : 1104D- 44TA (Tier-3)</div>
                    <div class="tech-specifications-item">Максимальная мощность двигателя : 74.5 кВт (101,3 л.с.)</div>
                    <div class="tech-specifications-item">Максимальный крутящий момент : 400 Нм при 1400 об/мин</div>
                    <div class="tech-specifications-item">Рабочий объем цилиндров : 4.4л</div>
                </div>
                <div class="tech-links">
                    <a class="tech-link">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="tech-block">
            <img class="tech-image" src={% static "images/1.jpg" %}>
            <div class="tech-description">
                <div class="tech-about">
                    <h1 class="tech-name">Экскаватор-Погрузчик MST 666-Plus</h1>
                    <h1 class="tech-text">
                        Это техника высокого качества и надежности, прекрасный выбор для вашего
                        бизнеса
                    </h1>
                </div>
                <div class="tech-specifications">
                    <div class="tech-specifications-item">Производитель : PERKINS</div>
                    <div class="tech-specifications-item">Модель : 1104D- 44TA (Tier-3)</div>
                    <div class="tech-specifications-item">Максимальная мощность двигателя : 74.5 кВт (101,3 л.с.)</div>
                    <div class="tech-specifications-item">Максимальный крутящий момент : 400 Нм при 1400 об/мин</div>
                    <div class="tech-specifications-item">Рабочий объем цилиндров : 4.4л</div>
                </div>
                <div class="tech-links">
                    <a class="tech-link">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="tech-block">
            <img class="tech-image" src={% static "images/1.jpg" %}>
            <div class="tech-description">
                <div class="tech-about">
                    <h1 class="tech-name">Экскаватор-Погрузчик MST 666-Plus</h1>
                    <h1 class="tech-text">
                        Это техника высокого качества и надежности, прекрасный выбор для вашего
                        бизнеса
                    </h1>
                </div>
                <div class="tech-specifications">
                    <div class="tech-specifications-item">Производитель : PERKINS</div>
                    <div class="tech-specifications-item">Модель : 1104D- 44TA (Tier-3)</div>
                    <div class="tech-specifications-item">Максимальная мощность двигателя : 74.5 кВт (101,3 л.с.)</div>
                    <div class="tech-specifications-item">Максимальный крутящий момент : 400 Нм при 1400 об/мин</div>
                    <div class="tech-specifications-item">Рабочий объем цилиндров : 4.4л</div>
                </div>
                <div class="tech-links">
                    <a class="tech-link">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
{% endblock Content %}
</body>
</html>