{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block Title %}
        <title>Dig & Go - Оборудование</title>
    {% endblock Title %}
    {% block Styles %}
        {% if request.COOKIES.theme == 'dark' %}
            <link type="text/css" rel="stylesheet" href="{% static "css/equipment.css" %}">
        {% else %}
            <link type="text/css" rel="stylesheet" href="{% static "css/equipment-light.css" %}">
        {% endif %}
    {% endblock Styles %}
</head>
<body>
{% block Content %}
    <div class="inner-content">
        <div class="tech-block">
            <img class="tech-image" src={% static "images/ковш.jpg" %}>
            <div class="tech-description">
                <div class="tech-about">
                    <h1 class="tech-name">Узкий ковш</h1>
                    <h1 class="tech-text">Описание</h1>
                </div>
                <div class="tech-specifications">
                </div>
                <div class="tech-links">
                    <a class="tech-link">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="tech-block">
            <img class="tech-image" src={% static "images/вилы.jpg" %}>
            <div class="tech-description">
                <div class="tech-about">
                    <h1 class="tech-name">Плетные вилы</h1>
                    <h1 class="tech-text">Описание</h1>
                </div>
                <div class="tech-specifications">
                </div>
                <div class="tech-links">
                    <a class="tech-link">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
{% endblock Content %}
</body>
</html>